<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="padding-top: 5.5em;">
    <h1>{{title}}</h1>
    <small>
      <address>San Francisco, CA</address>
    </small>
  </div>
  <ul style="padding-left: 0px">
    <li *ngFor="let link of links">
      <a class="btn btn-social-icon btn-{{link.network}}" href="{{link.url}}" target="_blank" rel="noopener">
        <i class="fa fa-{{link.network}}" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
